body {
  background-color: #FCFCFB;
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  color: #000;
  font-weight: 300;
}
/* Tooltip */
#tooltip {
    display: none;
    opacity: .9;
    padding: 5px;
    width: 115px;
    height: 100px;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(68, 68, 68, 0.38);
}
#tooltip:after, #tooltip:before {
 top: 100%;
 left: 50%;
 border: solid transparent;
 content: " ";
 height: 0;
 width: 0;
 position: absolute;
 pointer-events: none;
}

#tooltip:after {
 border-top-color: #fff;
 border-width: 5px;
 margin-left: -5px;
}
#tooltip:before {
 border-top-color: rgba(68, 68, 68, 0.38);
 border-width: 6px;
 margin-left: -6px;
}
#tooltip h1 {
    font-size: 12px;
}
#tooltip span {
    font-weight: bold;
    font-size: 12px;
}
#tooltip ul {
    margin: 0;
    padding: 0;
}
#tooltip ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
}
/* Header and Maps */
.header-home {
    padding: 5px 0;
    background-color: #14152d;
    width: 100%;
}
.header-home .links {
    width: 1100px;
    margin: 0 auto;
}
.header-home .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-home .links ul li {
    margin: 0 30px 0 10px;
    padding: 0;
    display: inline;
}
/*.header-home .links ul li:last-child {
  margin: 0;
}*/
.header-home .links img {
    height: 10px;
    margin: 2px 0;
    /*vertical-align: middle;*/
 }
 .header-home .links .logo img{
    height: 15px;
    margin: 2px 800px 0 0;
    /*vertical-align: middle;*/
 }
.header,
.maps {
    /*background-color: blue;*/
    width: 1100px;
    margin: 0 auto;
}
/* Header */
.header .top {
    /*background-color: pink;*/
    width: 1100px;
    height: 109px;
    float: left;
    font-size: 12px;
}
.top .description, .top .pop, .top .hdi, .top .growth {
/*    background-color: yellow;*/
    display: inline;
    float: left;
    width: 255px;
    padding: 10px;
}
.top .description a {
    font-weight: bold;
    color: #000;
}
.person-container {
}
.person-container .person {
    height: 15px;
    margin: 1px;

}

.header .bottom {
    border-top: 1px solid rgba(0,0,0, 0.1);
    width: 1100px;
    /*height: 20px;*/
    float: left;
    font-size: 12px;
}
.header .bottom img,
.header .bottom .title {
    opacity: 0;
}
.bottom .title, .bottom .s_pop, .bottom .s_hdi, .bottom .s_growth {
    display: inline;
    float: left;
    width: 251px;
    padding: 12px;
}
.bottom img {
    height: 15px;
    margin-right: 5px;
}
.bottom .title span {
    font-weight: bold;
}
.bottom h3 {
    margin-top: 0;
    margin-bottom: 1px;
    font-size: 12px;
    opacity: 0.25;
}
.bottom .title h3 {
    font-weight: normal;
}
.bottom h3 span {
    font-weight: bold;
}

/* Maps */
.maps .map {
    display: inline;
    float: left;
    width: 251px;
    /*width: 500px;*/
    padding: 12px;
}
.maps .map .title {
    height: 40px;
    margin-left: 25px;
}
.maps .map h1 {
    font-size: 14px;
}
.maps .map svg {
    width: 251px;
}
.maps .map .subtitle img {
    height: 7px;
}
.maps .map .subtitle {
    width: 100%;
    margin-left: 15px;
    margin-top: 30px;
    font-size: 12px;
}
.maps .map .specification {
    font-size: 12px;
}
.map_01 .st1{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#AFC1F7;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}
.map_01 .st2{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#7996EB;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}
.map_01 .st3{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#4268DB;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}
.map_01 .st4{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#0938C5;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}
.map_01 .st0{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#E6ECFE;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}
.map_01 .st5{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#fff;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}
.map_01 .st6{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#fff;stroke:#CECECE;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}


.map_02 .st0{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#45CD9D;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}
.map_02 .st1{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#74E2BB;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}
.map_02 .st2{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#A3F0D5;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}
.map_02 .st3{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#15B57D;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}
.map_02 .st4{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#D1FAEC;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}

.map_03 .st0{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#FBACEF;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}
.map_03 .st1{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#F274DF;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}
.map_03 .st2{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#FFE5FB;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}
.map_03 .st3{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#E33BCA;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}
.map_03 .st4{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#CF01B0;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}
.map_03 .st5{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#fff;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}
.map_03 .st6{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#fff;stroke:#CECECE;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}


.map_04 .st0{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#F7B474;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}
.map_04 .st1{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#EF933B;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}
.map_04 .st2{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#FFF2E5;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}
.map_04 .st3{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#FDD4AC;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}
.map_04 .st4{opacity:1;fill-rule:evenodd;clip-rule:evenodd;fill:#E46E00;stroke:#FFFFFF;stroke-width:0.737;stroke-linejoin:bevel;stroke-miterlimit:10;}

svg.person.common > path {opacity:0.7;fill:#D0D0D0;stroke:#D0D0D0;stroke-width:0.5;stroke-miterlimit:10;}
svg.person.line > path {fill:none;stroke:#BBBBBB;stroke-width:0.5;stroke-miterlimit:10;}
svg.person.red > path {fill:none;stroke:#DDABB4;stroke-miterlimit:10;}
